$color-selection: #55c57a;

$color-very-dark-grayish-blue: hsl(217, 19%, 35%);
$color-desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$color-light-grayish-blue: hsl(210, 46%, 95%);

$color-white: #fff;
$color-black: #000;

$color-facebook: #1877f2;
$color-twitter: #55acee;
$color-pinterest: #bd081c;

$default-font-size: 1.3rem;
